.wrapper {
  background-color: #333;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width: 400px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.time {
  font-size: 24px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.player {
  background-color: #444;
  padding: 10px 20px;
  border-radius: 10px;
}
.mic-icon {
  height: 24px;
}
.mic {
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-start {
  display: flex;
  gap: 10px;
  align-items: center;
  color: white;
}
.start {
  background-color: #34cb59;
}
.stop {
  background-color: #cb3446;
  box-sizing: inset 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.cancel {
  background-color: #fff;
}
